div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    /*transform: rotate(45deg);
    rotate: y 45deg;
    transform: scale(1,0);*/
    position: absolute;
    top: 200px;
    left: 300px;
    
    transition: all 2s ease-in 2s;
}

div:hover{
    transform: translateY(200px);
    transform: skew(90deg);
}